@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Container */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scroll */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #262525; /* Background color of the track */
  border-radius: 10px; /* Rounded corners of the track */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners of the handle */
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}
